/java/onework-jsoup-sample/.idea
/java/onework-jsoup-sample/target
/java/onework-maven-sample/.idea
/java/onework-mybatis-sample/.idea
/java/onework-springframework.sample/.idea
/java/onework-springframework.sample/target
/dotnet/aspnetcore6_sample/wwwroot/upload
/dotnet/.idea
