@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/bundle.css" inline />
<div class="text-center">
    <h1 class="display-4">Welcome12</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


