@import url('./variable');
@import url('./mixin');
@import url('./transition');

* {
  touch-action: pan-y;
}

html,
body,
#app {
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
    'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
  color: #515a6e;
  background-color: #f6f8f9;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;

  @include scrollBar;
}

/* 灰色模式 */
.html-grey {
  filter: grayscalce(100%);
}

/* 色弱模式 */
.html-weakness {
  filter: invert(80%);
}
